/*
Ceci s'assure qu'il n'y a pas d'espace blanc entre le header et la partie filtre
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/*
****** Style du burger menu ********
tutoriel suivi:
https://alvarotrigo.com/blog/hamburger-menu-css/
*/
#burger_toggle {
  opacity: 0;
}

#burger_toggle:checked + .burger_btn > span {
  transform: rotate(45deg);
}

#burger_toggle:checked + .burger_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#burger_toggle:checked + .burger_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger_toggle:checked ~ .burger_opened {
  right: 0;
}

.burger_btn {
  position: fixed;
  top: 23px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.burger_btn > span, .burger_btn > span::before, .burger_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: .25s;
}

.burger_btn > span::before {
  content: '';
  top: -8px;
}

.burger_btn > span::after {
  content: '';
  top: 8px;
}

.burger_opened {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 150px;
  height: auto;
  margin: 0;
  padding-top: 50px;
  list-style: none;
  background-color: #fca311ff;
  transition-duration: .25s;
  z-index: 1;
}

.burger_item {
  display: block;
  padding: 12px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  width: 100%;
}

.burger_item:hover {
  background-color: rgb(194, 124, 12);
}


/*
****** Style du header ********
*/
header {
  background-color: #fca311ff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

header h1 {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  color: black;
}

header h1 img {
  margin-right: 10px;
}

header button {
  background: none;
  border: none;
  cursor: pointer;
}

/*
****** Filtre pour la sélection ********
*/
.filtre {
  background-color: rgb(231, 231, 231);
  justify-content: space-between;
}


.filtre select, input {
  border-radius: 10px;
  border-width: 1px;
}

.filtre th {
  padding: 0px 20px; /* Ajoute de l'espace entre les différents filtres */
}

/* Rendre le bouton filtre beau */
.filtre button {
  margin-left: 15px;
  width: 75px;
  height: 35px;
  background-color: #fca311ff;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
  
}


/*
**********Sports************
*/


/* Conteneur des sports */
.sports-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Chaque sport dans une boîte horizontale */
.sports-container > div {
  display: flex;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 12px;
  margin-left: 20px;
  width: 95%;
  height: 16rem;
  box-shadow: 10px 5px 15px gray;
  
}

/* Images des sports */
.sports-container > div img {
  width: 150px;
  height: auto;
}

/* Titre des sports en haut à droite */
.sports-container > div h3, .sports-container > div p {
  position: relative;
  bottom: 10rem;
  left: 11rem;


}

/* Bouton Modifier */
.sports-container button {
  display: inline-block;
  margin-left: 1.5rem;
  background-color: #fca311ff;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: black;
  text-decoration: none;
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

/* Animations des boutons filtre et modifier*/
.sports-container button:hover , .filtre button:hover, #ajouter:hover{
  box-shadow: 0px 0px 15px 1px rgb(20, 33, 61);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Style du bouton ajouter activité*/
#ajouter {
  width: 10%;
  height: 50px;
  background-color: #fca311ff;
  border: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

/* Centrer bouton ajouter */
.ajouter-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}




/*
****** Style du footer ********
*/
footer{
  margin-top: 6%;
  background: rgb(20, 33, 61);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}

.grey-text{
  color: rgb(229, 229, 229);
}

.flex-centered{
  justify-self: center;
  align-self: center;
}