/*
Ceci s'assure qu'il n'y a pas d'espace blanc entre le header et la partie filtre
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  html{
    display: grid;
    grid-template: 
    "header" auto
    "main" auto
    "footer" auto
  }
  
  /*
  ****** Style du burger menu ********
  tutoriel suivi:
  https://alvarotrigo.com/blog/hamburger-menu-css/
  */
  #burger_toggle {
    opacity: 0;
  }
  
  #burger_toggle:checked + .burger_btn > span {
    transform: rotate(45deg);
  }
  
  #burger_toggle:checked + .burger_btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  
  #burger_toggle:checked + .burger_btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #burger_toggle:checked ~ .burger_opened {
    right: 0;
  }
  
  .burger_btn {
    position: fixed;
    top: 23px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  
  .burger_btn > span, .burger_btn > span::before, .burger_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .25s;
  }
  
  .burger_btn > span::before {
    content: '';
    top: -8px;
  }
  
  .burger_btn > span::after {
    content: '';
    top: 8px;
  }
  
  .burger_opened {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 150px;
    height: auto;
    margin: 0;
    padding-top: 50px;
    list-style: none;
    background-color: #fca311ff;
    transition-duration: .25s;
    z-index: 1;
  }
  
  .burger_item {
    display: block;
    padding: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    width: 100%;
  }
  
  .burger_item:hover {
    background-color: rgb(194, 124, 12);
  }
  
  /*
  ****** Style du header ********
  */
  header {
    grid-area: header;
    background-color: #fca311ff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  header h1 {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    color: black;
  }
  
  header h1 img {
    margin-right: 10px;
  }
  
  header button {
    background: none;
    border: none;
    cursor: pointer;
  }

  /*
  ****** Style du main ******
  */
  main{
  padding: 2%;
}

main div {
  transform: scale(1);
  background-color: rgb(231, 231, 231);
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  margin-top: 5%;
  align-items: center;
  border-radius: 10px;
}

#form-description {
    width: 100%;
    height: 80px;
    resize: none;
  }



input {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s ease-in-out;
    
}



h3 {
    margin-top: 25%;
}

form {
    margin-top: 3%;
}

form div{
    width: 100%;
  }


a {
    display: block;
    text-align: center;

}  


form button {
    width: 100px;
    height: 35px;
    background-color: #fca311ff;
    border: none;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

/* Animations du bouton login*/
form button:hover{
    box-shadow: 0px 0px 15px 1px rgb(20, 33, 61);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  

  /*
  ****** Style du footer ********
  */
  footer{
    grid-template: footer;
    background: rgb(20, 33, 61);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;
    width: 100%;
  }
  
  /*
  ****** Autre ********
  */
  .grey-text{
    color: rgb(229, 229, 229);
  }
  
  .flex-centered{
    justify-self: center;
    align-self: center;
  }
  
  td{
    padding: 1%;
  }